<div class="tablet-layout">
  <aside class="tablet-contacts">
    <header class="tablet-contacts__header">Контакты</header>
    <ul class="tablet-contacts__list">
      {{#each contacts}}
      <li class="tablet-contact {{#if active}}is-active{{/if}}" data-contact-id="{{id}}">
        <div class="tablet-contact__top">
          <span class="tablet-contact__name">{{name}}</span>
          <span class="tablet-contact__time">{{time}}</span>
        </div>
        <div class="tablet-contact__bottom">
          <span class="tablet-contact__status tablet-contact__status--{{status}}">{{status}}</span>
          <span class="tablet-contact__preview">{{lastMessage}}</span>
        </div>
      </li>
      {{/each}}
    </ul>
  </aside>

  <section class="tablet-chat">
    <header class="tablet-chat__header">
      <div class="tablet-chat__name">{{activeContact.name}}</div>
      <div class="tablet-chat__status">{{activeContact.status}}</div>
    </header>

    <div class="tablet-chat__messages">
      {{#each messages}}
      <article class="tablet-message {{#if mine}}tablet-message--mine{{/if}}">
        <p class="tablet-message__sender">{{sender}}</p>
        <p class="tablet-message__text">{{text}}</p>
        <time class="tablet-message__time">{{time}}</time>
      </article>
      {{/each}}
    </div>

    <footer class="tablet-chat__composer">
      <input class="tablet-input" type="text" placeholder="Введите сообщение" />
      <button class="tablet-send" type="button">Отправить</button>
    </footer>
  </section>
</div>
